.AnswerItem {
  border: 1px solid #FFF;
  border-radius: 5px;
  padding: 5px 10px;
  margin-bottom: 5px;
  transition: background 300ms ease-in-out;
  cursor: pointer;
}

.AnswerItem:hover {
  background: rgba(255, 255, 255, 0.2);

}

.AnswerItem.success {
  background-color: rgba(161, 240, 69, 0.7);
}

.AnswerItem.error {
  background-color: rgba(240, 87, 108, 0.7);
}